<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css">
      </head>
  <body>
    <form class="" action="/contact" method="post">


    <div class="container">
	<div class="row">
			<h1>contact us</h1>
	</div>
	<div class="row">

	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
     <button type="submit" name="button" class="btn-lrg submit-btn" style="margin-bottom:30px;">Send Message</button>

			</div>
	</div>
</div>
</form>
  </body>

</html>
