<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donation Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
  <form class="" action="/" method="post">
    <div class="first">
      <div class="second">

     <div class="row">
       <div class="col-sm-5"  >
         <h1 style="text-align:center;font-family: 'Akaya Kanadaka', cursive; margin-top:25px;">The Sparks Foundation</h1>
          <!-- <div class="headin" style="text-align:center;font-family: 'Akaya Kanadaka', cursive; "> <h1>The Sparks Foundation </h1></div> -->
       </div>
       <div class="col-sm-7" >
         <div style="float:right">
           <nav class="nav">

              <a class="nav-link " href="#!" style="margin-right:9px;"> <i class="fa fa-search"></i></a>

              <a class="nav-link" href="contact">Contact Us</a>
              <a class="nav-link" href="#!">Cases</a>
              <a class="nav-link" href="#!">Events</a>
              <a class="nav-link" href="#!">Funds</a>
              <a class="nav-link" href="#!">News</a>
              <a class="nav-link " href="#!" style="margin-right:5px;">About</a>

        </nav>
      </div>
       </div>
       </div>
   </div>
   <div class="col-md-4" style="float:right;margin-right:100px; text-align:right;">
     <p style="margin-top:50px; color:#FCC804;">Help The Poor In Need</p>
       <h1 style="font-family: 'RocknRoll One', sans-serif;color:white;padding:2px;font-size: 65px;">Donation Can Change Life</h1>

      <button type="button"style="border-radius:50px 0 0 50px; background-color:#FCA904; height:40px; width:110px;border: none; " ><a href="https://rzp.io/l/uT4WFBaq">Donation</a></button>
   </div>

  </div>


  <div class="container">
    <div class="" style="background-color:black; height:135px; width:80%; margin-left: 80px;margin-top:30px; border-radius:150px 0 0 150px">

           <div class="row">

             <div class="col-md-2" >
                    <img src="images/download3.jpg" alt="" style="border-radius:50%; height:110px; width:110px; margin:9px;padding:4px;"/>
             </div>
             <div class="col-md-4">
                       <p style="color:white; margin:10px; font-family: 'Ubuntu', sans-serif; font-size:25px">We're worldwide non-profit charity organization</p>
             </div>
             <div class="col-md-5">
                       <p style="color:white; font-family: 'Ubuntu', sans-serif; margin-left:70px; margin-top:10px;">#IamFeedingIndia <br/>
                         We are serving cooked meals to people in need daily through our NGOs partners across India.Reliable food and nutrition for underserved children across India.</p>
             </div>
           </div>
    </div>
  </div><br>
   <h1 style="text-align:center;font-family: 'Akaya Kanadaka', cursive;">We Believe that we can safe more life with you.</h1><br><br>
   <div class="container">
     <div class="row">
     <div class="col-md-3">
       <div class="" style="width:60px;height:70px;background-color:red; border-radius:50px 50px 0 0; margin-left:80px;">
              <i class='fas fa-book' style='font-size:30px; text-align:center;margin-top:20px;margin-left:15px;color:white'></i>
       </div>
       <p style="margin-left:80px; font-family: 'Dosis', sans-serif;">Education</p>
     </div>
     <div class="col-md-3">
       <div class="" style="width:60px;height:70px;background-color:yellow; border-radius:50px 50px 0 0;margin-left:35px">
           <i class='fas fa-hamburger' style='font-size:30px; text-align:center;margin-top:20px;margin-left:15px;color:white'></i>
       </div>
       <p style="margin-left:48px; font-family: 'Dosis', sans-serif;">Food</p>
     </div>
     <div class="col-md-3" >
       <div class="" style="width:60px;height:70px;background-color:green; border-radius:50px 50px 0 0;margin-left:35px">
          <i class='fas fa-water' style='font-size:30px; text-align:center;margin-top:20px;margin-left:15px;color:white'></i>
       </div>
       <p style="margin-left:45px; font-family: 'Dosis', sans-serif;">Water</p>
     </div>
     <div class="col-md-3" >
       <div class="" style="width:60px;height:70px;background-color:blue; border-radius:50px 50px 0 0;margin-left:35px">
           <i class='fas fa-hand-holding-medical' style='font-size:30px; text-align:center;margin-top:20px;margin-left:15px;color:white'></i>
       </div>
       <p style="margin-left:43px; font-family: 'Dosis', sans-serif;">Medical</p>
     </div>
   </div>
</div>

<section class="about" id="about" >
  <div class="jumbotron">

            <div class="container" >
                <div class="heading text-center">
                    <h1>About
                        <span>Us</span></h1>
                    <p>We must give more in order to get more. It is the generous giving
                        <br>
                       of ourselves that produces the generous harvest.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/download7.jpg" alt="about" class="img-fluid" width="100%">
                    </div>
                    <div class="col-lg-6">
                        <h3>Donate to NGO for Elderly Care, Child Education, Orphanage, Women’s Welfare</h3>
                        <p>Our NGO is a 501(c)3 non-profit corporation.  Monetary gifts are tax deductible and are often matched with other gifts from around the world to complete projects.  We are managed by a board of directors with diverse backgrounds from all over the United States.  Our president and founder, Ray West, spent much of his naval career as an aide and liason working in Moldova and is uniquely qualified to carry out projects on the ground there.  Ray spends 2-3 months every year in Moldova ensuring that these projects continue to move along according to plan.  Board chairman Albert Gooch normally travels to Moldova twice each year visiting our projects.</p>

                    </div>
                </div>
            </div>
        </section>

</div>
  </form>
  </body>

  <footer class="footer-section" >
          <div class="container">
              <div class="footer-cta pt-5 pb-5">
                  <div class="row">
                      <div class="col-xl-4 col-md-4 mb-30">
                          <div class="single-cta">
                              <i class="fas fa-map-marker-alt"></i>
                              <div class="cta-text">
                                  <h4>Find us</h4>
                                  <span>1010 Avenue, sw 54321, chandigarh</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-md-4 mb-30">
                          <div class="single-cta">
                              <i class="fas fa-phone"></i>
                              <div class="cta-text">
                                  <h4>Call us</h4>
                                  <span>999999999</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-md-4 mb-30">
                          <div class="single-cta">
                              <i class="far fa-envelope-open"></i>
                              <div class="cta-text">
                                  <h4>Mail us</h4>
                                  <span>littlehelp@gmail.com</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-content pt-5 pb-5">
                  <div class="row">
                      <div class="col-xl-4 col-lg-4 mb-50">
                          <div class="footer-widget">
                              <div class="footer-logo">
                                  <h3 style="color:white">The Sparks Foundation</h3>
                              </div>

                              <div class="footer-social-icon">
                                  <span>Follow us</span>
                                  <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                  <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                          <div class="footer-widget">
                              <div class="footer-widget-heading">
                                  <h3>Useful Links</h3>
                              </div>
                              <ul>
                                  <li><a href="#">Home</a></li>
                                  <li><a href="#">services</a></li>

                                  <li><a href="contact">Contact</a></li>
                                  <li><a href="#">About us</a></li>
                                  <li><a href="#">Our Services</a></li>
                                  <li><a href="#">Expert Team</a></li>
                                  <li><a href="#">Contact us</a></li>
                                  <li><a href="#">Latest News</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                          <div class="footer-widget">
                              <div class="footer-widget-heading">
                                  <h3>Subscribe</h3>
                              </div>
                              <div class="footer-text mb-25">
                                  <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                              </div>
                              <div class="subscribe-form">
                                  <form action="#">
                                      <input type="text" placeholder="Email Address">
                                      <button><i class="fab fa-telegram-plane"></i></button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="copyright-area">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                          <div class="copyright-text">
                              <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">The Sparks Foundation</a></p>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                          <div class="footer-menu">
                              <ul>
                                  <li><a href="#">Home</a></li>
                                  <li><a href="#">Terms</a></li>
                                  <li><a href="#">Privacy</a></li>
                                  <li><a href="#">Policy</a></li>
                                  <li><a href="#">Contact</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>

</html>
